:root {
  --primary-color: #81a6c6;
  --secondary-color: #aacddc;

  --accent-color: #f3e3d0;
  --secondary-accent-color: #d2c4b4;

  --font-family: Roboto, Oxygen, Ubuntu;
  --font-family-fallback: "Open Sans", "Helvetica Neue", sans-serif, system-ui;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: calc(1em + 0.5rem); /*option*/
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: var(--font-family), var(--font-family-fallback);
  background-color: var(--primary-color);
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 700px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.form-add-book {
  width: 80%;
  background-color: var(--secondary-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 3px 3px 12px 0px #000;
}

.list-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-item {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

.label {
  justify-self: self-end;
}

.input {
  justify-self: self-start;
}

.input.title,
.input.author,
.input.pages {
  border-radius: 5px;
  background-color: var(--accent-color);
}

.add-btn {
  grid-column: 1/3;
  place-self: center;
  width: 33%;
  border-radius: 20px;
  background-color: var(--accent-color);
}

.Library {
  width: 80%;
  background-color: var(--secondary-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 3px 3px 12px 0px #000;
}

.list-books {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.book-card {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0;
  box-shadow: 0px 1px 4px 0px #000;
}

.book-card p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.book-title {
  font-style: italic;
  font-weight: 600;
}

.book-del-btn {
  border-radius: 20px;
  margin-top: 0.8rem;
  padding: 0 1rem;
  background-color: var(--accent-color);
}
